
.sc-shippingbar-pdp-progress-text {
  background: $sc-shippingbar-pdp-progress-background-color;
  color: $sc-shippingbar-pdp-text-progress-color;
  padding: 10px 10px 10px 10px;

  .sc-shippingbar-common-value-text-color {
    color: $sc-shippingbar-pdp-progress-value-text-color;
  }
}

.sc-shippingbar-pdp-qualifies-text {
  background: $sc-shippingbar-pdp-qualifies-background-color;
  color: $sc-shippingbar-pdp-qualifies-text-color;
  padding: 10px 10px 10px 10px;

  .sc-shippingbar-common-value-text-color {
    color: $sc-shippingbar-pdp-qualifies-value-text-color;
  }
}

.sc-shippingbar-pdp-message {
  border-bottom: 1px solid $sc-shippingbar-pdp-bar-border-color;
  border-top: 1px solid $sc-shippingbar-pdp-bar-border-color;
  text-align: center;
  font-weight: $sc-font-weight-semibold;
  font-size: $sc-font-size-s;
  color: $sc-color-copy;
  border-radius: 0.2em;
  margin-top: 1em;
  @media (max-width: $screen-sm-min) {
    margin-top: 5em;
  }
  @media (max-width: $screen-md-min) {
    margin-top: 5em;
  }
}
