
$header-shipping-bar-background-initial: $sc-neutral-shade-500; /* editable({
  "type": "color",
  "label": "Initial Background"
})*/
$sc-shippingbar-header-initial-background-color: $header-shipping-bar-background-initial;

$header-shipping-bar-text-initial: $sc-neutral-shade-0; /* editable({
  "type": "color",
  "label": "Initial Text"
})*/
$sc-shippingbar-header-initial-text-color: $header-shipping-bar-text-initial;

$value-text-color: $sc-neutral-shade-0; /* editable({
  "type": "color",
  "label": "Value Text"
})*/
$sc-shippingbar-header-value-text-color: $value-text-color;

$header-shipping-bar-background-progress: $sc-neutral-shade-500; /* editable({
  "type": "color",
  "label": "Progress Background"
})*/
$sc-shippingbar-header-progress-background-color: $header-shipping-bar-background-progress;

$header-shipping-bar-text-progress: $sc-neutral-shade-0; /* editable({
  "type": "color",
  "label": "Progress Text"
})*/
$sc-shippingbar-header-progress-text-color: $header-shipping-bar-text-progress;

$header-shipping-bar-background-congratulations: $sc-neutral-shade-500; /* editable({
  "type": "color",
  "label": "Congratulations Background"
})*/
$sc-shippingbar-header-congratulations-background-color: $header-shipping-bar-background-congratulations;

$header-shipping-bar-text-congratulations: $sc-neutral-shade-0; /* editable({
  "type": "color",
  "label": "Congratulations Text"
})*/
$sc-shippingbar-header-congratulations-text-color: $header-shipping-bar-text-congratulations;

$header-shipping-bar-background: $sc-neutral-shade-500; /* editable({
  "type": "color",
  "label": "Header Bar Border"
})*/
$sc-shippingbar-header-background: $header-shipping-bar-background;

/*
group({
  "id": "shipping-bar-header",
  "label": "Header Bar",
  "description": "",
  "children": [
    "$header-shipping-bar-background-initial",
    "$header-shipping-bar-text-initial",
    "$value-text-color",
    "$header-shipping-bar-background-progress",
    "$header-shipping-bar-text-progress",
    "$header-shipping-bar-background-congratulations",
    "$header-shipping-bar-text-congratulations",
    "$header-shipping-bar-background"
  ]
})
*/

$header-shipping-bar-background-alternate-1: $sc-neutral-shade-500; /* editable({
  "type": "color",
  "label": "Alternate 1 Background"
})*/
$sc-shippingbar-header-background-alternate-1: $header-shipping-bar-background-alternate-1;

$header-shipping-bar-text-alternate-1: $sc-neutral-shade-0; /* editable({
  "type": "color",
  "label": "Alternate 1 Text"
})*/
$sc-shippingbar-header-text-alternate-1: $header-shipping-bar-text-alternate-1;

$header-shipping-bar-background-alternate-2: $sc-neutral-shade-500; /* editable({
  "type": "color",
  "label": "Alternate 2 Background"
})*/
$sc-shippingbar-header-background-alternate-2: $header-shipping-bar-background-alternate-2;

$header-shipping-bar-text-alternate-2: $sc-neutral-shade-0; /* editable({
  "type": "color",
  "label": "Alternate 2 Text"
})*/
$sc-shippingbar-header-text-alternate-2: $header-shipping-bar-text-alternate-2;

/*
group({
  "id": "shipping-bar-alternates",
  "label": "Alternates - Header Bar",
  "description": "",
  "children": [
    "$header-shipping-bar-background-alternate-1",
    "$header-shipping-bar-text-alternate-1",
    "$header-shipping-bar-background-alternate-2",
    "$header-shipping-bar-text-alternate-2"
  ]
})
*/