
$cart-shipping-bar-background-initial: $sc-color-theme-background; /* editable({
   "type": "color",
   "label": "Initial Background"
})*/
$sc-shippingbar-cart-initial-background-color: $cart-shipping-bar-background-initial;

$cart-shipping-bar-text-initial: $sc-color-copy; /* editable({
   "type": "color",
   "label": "Initial Text"
})*/
$sc-shippingbar-cart-initial-text-color: $cart-shipping-bar-text-initial;

$cart-shipping-bar-background-progress: $sc-color-theme-background; /* editable({
   "type": "color",
   "label": "Progress Background"
})*/
$sc-shippingbar-cart-progress-background-color: $cart-shipping-bar-background-progress;

$cart-shipping-bar-text-progress: $sc-color-copy; /* editable({
   "type": "color",
   "label": "Progress Text"
})*/
$sc-shippingbar-cart-progress-text-color: $cart-shipping-bar-text-progress;

$cart-shipping-bar-background-congratulations: $sc-color-theme-background; /* editable({
   "type": "color",
   "label": "Congratulations Background"
})*/
$sc-shippingbar-cart-congratulations-background-color: $cart-shipping-bar-background-congratulations;

$cart-shipping-bar-text-congratulations: $sc-color-copy; /* editable({
   "type": "color",
   "label": "Congratulations Text"
})*/
$sc-shippingbar-cart-congratulations-text-color: $cart-shipping-bar-text-congratulations;

$cart-shipping-bar-border: $sc-color-theme-border-light; /* editable({
   "type": "color",
   "label": "Banner Border"
})*/
$sc-shippingbar-cart-border-color: $cart-shipping-bar-border;

$cart-shipping-bar-value-text: $sc-color-copy-dark; /* editable({
   "type": "color",
   "label": "Value Text"
})*/
$sc-shippingbar-cart-value-text-color: $cart-shipping-bar-value-text;

$cart-shipping-bar-progress-value-text: $sc-color-copy-dark; /* editable({
   "type": "color",
   "label": "Progress Value Text"
})*/
$sc-shippingbar-cart-progress-value-text-color: $cart-shipping-bar-progress-value-text;

/*
group({
   "id": "shipping-bar-cart",
   "label": "Cart Banner",
   "description": "",
   "children": [
      "$cart-shipping-bar-background-initial",
      "$cart-shipping-bar-text-initial",
      "$cart-shipping-bar-background-progress",
      "$cart-shipping-bar-text-progress",
      "$cart-shipping-bar-background-congratulations",
      "$cart-shipping-bar-text-congratulations",
      "$cart-shipping-bar-border",
      "$cart-shipping-bar-value-text",
      "$cart-shipping-bar-progress-value-text"
   ]
})
*/
