// PLP Subcategory variables
// Subcategory Mobile Variables
$sc-subcategory-width: 48%; /* editable({"type": "string", "label": "Mobile Subcategory Width"}) */
$sc-subcategory-margin-right: 2%; /* editable({"type": "string", "label": "Mobile Subcategory Margin Right"}) */

// Subcategory Desktop Variables
$sc-subcategory-desktop-width: 12%; /* editable({"type": "string", "label": "Desktop Subcategory Width"}) */
$sc-subcategory-desktop-margin-left: 10px; /* editable({"type": "string", "label": "Desktop Subcategory Margin Left"}) */
$sc-subcategory-desktop-margin-right: 10px; /* editable({"type": "string", "label": "Desktop Subcategory Margin Right"}) */